# Smart Travel App
## Notebook 5: Visualization Data

**Group 4, Project 4**  
Team: Dominique Villarreal, Enrique Garcia, Jose Santos  
Project Due Date: June 12, 2023

In [59]:
import json
import pandas as pd
import pprint as pp

In [60]:
# Import merged_df
merged_file_path = '../G4_Project4/Resources/df_Extractions/merged_df.csv'
merged_df = pd.read_csv(merged_file_path)
merged_df.head(2)

,categories,name,rating,review_count,location,coordinates,city
0,"['Festivals', 'Arts & Crafts', 'Local Flavor']",Jackalope Arts,5.0,8,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...","{'latitude': 39.800724136818026, 'longitude': ...",Denver
1,"['Venues & Event Spaces', 'Party & Event Plann...",Special Occasions Events,5.0,4,"{'address1': '3550 Federal Blvd', 'address2': ...","{'latitude': 39.76623, 'longitude': -105.02439}",Denver

In [61]:
# Process & Organize merged_df
merged_df = merged_df[['city', 'name', 'rating', 
                       'review_count', 'categories', 'location', 'coordinates']]

# Access and work with the updated DataFrame
merged_df.head(1)

,city,name,rating,review_count,categories,location,coordinates
0,Denver,Jackalope Arts,5.0,8,"['Festivals', 'Arts & Crafts', 'Local Flavor']","{'address1': '5738 Olde Wadsworth Blvd', 'addr...","{'latitude': 39.800724136818026, 'longitude': ..."

In [62]:
# City - One-hot encoding
#city_encoded_data = pd.get_dummies(merged_df, columns = ['city'])
#city_encoded_data

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19627 entries, 0 to 19626
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          19627 non-null  object
 1   name          19627 non-null  object
 2   rating        19627 non-null  float64
 3   review_count  19627 non-null  int64
 4   categories    19627 non-null  object
 5   location      19627 non-null  object
 6   coordinates   19627 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.0+ MB

In [63]:
# Begin work for predicting city

# Create encoded df
vr_data = merged_df.copy()
vr_data

,city,name,rating,review_count,categories,location,coordinates
0,Denver,Jackalope Arts,5.0,8,"['Festivals', 'Arts & Crafts', 'Local Flavor']","{'address1': '5738 Olde Wadsworth Blvd', 'addr...","{'latitude': 39.800724136818026, 'longitude': ..."
1,Denver,Special Occasions Events,5.0,4,"['Venues & Event Spaces', 'Party & Event Plann...","{'address1': '3550 Federal Blvd', 'address2': ...","{'latitude': 39.76623, 'longitude': -105.02439}"
2,Denver,Denver International Wine Festival,4.5,6,['Festivals'],"{'address1': '7000 Church Ranch Blvd', 'addres...","{'latitude': 39.8954144928904, 'longitude': -1..."
3,Denver,"Denver Mineral, Fossil, Gem & Jewelry Show",4.5,10,['Festivals'],"{'address1': '4600 Humboldt St', 'address2': N...","{'latitude': 39.779134, 'longitude': -104.9706..."
4,Denver,Colorado Festival of Horror,5.0,1,['Festivals'],"{'address1': '4444 N Havana St', 'address2': '...","{'latitude': 39.77775099535848, 'longitude': -..."
...,...,...,...,...,...,...,...
19622,NewYork,Felice 56,4.0,94,"['Italian', 'Wine Bars']","{'address1': '15 W 56th St', 'address2': None,...","{'latitude': 40.762862, 'longitude': -73.975396}"
19623,NewYork,The Jeffrey Craft Beer & Bites,4.0,728,"['Bars', 'American (New)', 'Coffee & Tea']","{'address1': '311 E 60th St', 'address2': None...","{'latitude': 40.7611, 'longitude': -73.963}"
19624,NewYork,Saint Tuesday,4.0,30,"['Lounges', 'Speakeasies', 'Cocktail Bars']","{'address1': '24 Cortlandt Aly', 'address2': '...","{'latitude': 40.7181707, 'longitude': -74.0021..."
19625,NewYork,Harlem Nights Bar,4.0,185,"['Bars', 'Music Venues']","{'address1': '2361 7th Ave', 'address2': None,...","{'latitude': 40.817206, 'longitude': -73.942054}"
19626,NewYork,Cardiff Giant,4.0,56,"['Bars', 'Beer, Wine & Spirits', 'Cideries']","{'address1': '415 Myrtle Ave', 'address2': '',...","{'latitude': 40.69324, 'longitude': -73.96923}"

In [64]:
# Explode the 'categories' column
vr_data['categories'] = vr_data['categories'].apply(eval)
vr_data = vr_data.explode('categories')
vr_data

# Convert string coordinates to dictionaries
vr_data['coordinates'] = vr_data['coordinates'].apply(ast.literal_eval)

# Split the coordinates column into latitude and longitude
vr_data['latitude'] = vr_data['coordinates'].apply(lambda x: x['latitude'])
vr_data['longitude'] = vr_data['coordinates'].apply(lambda x: x['longitude'])

# Drop the original coordinates column
vr_data.drop('coordinates', axis=1, inplace=True)

# Print the updated DataFrame
vr_data

,city,name,rating,review_count,categories,location,latitude,longitude
0,Denver,Jackalope Arts,5.0,8,Festivals,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
0,Denver,Jackalope Arts,5.0,8,Arts & Crafts,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
0,Denver,Jackalope Arts,5.0,8,Local Flavor,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
1,Denver,Special Occasions Events,5.0,4,Venues & Event Spaces,"{'address1': '3550 Federal Blvd', 'address2': ...",39.766230,-105.024390
1,Denver,Special Occasions Events,5.0,4,Party & Event Planning,"{'address1': '3550 Federal Blvd', 'address2': ...",39.766230,-105.024390
...,...,...,...,...,...,...,...,...
19625,NewYork,Harlem Nights Bar,4.0,185,Bars,"{'address1': '2361 7th Ave', 'address2': None,...",40.817206,-73.942054
19625,NewYork,Harlem Nights Bar,4.0,185,Music Venues,"{'address1': '2361 7th Ave', 'address2': None,...",40.817206,-73.942054
19626,NewYork,Cardiff Giant,4.0,56,Bars,"{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230
19626,NewYork,Cardiff Giant,4.0,56,"Beer, Wine & Spirits","{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230
19626,NewYork,Cardiff Giant,4.0,56,Cideries,"{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230

In [65]:
# Print the updated DataFrame
vr_data

,city,name,rating,review_count,categories,location,latitude,longitude
0,Denver,Jackalope Arts,5.0,8,Festivals,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
0,Denver,Jackalope Arts,5.0,8,Arts & Crafts,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
0,Denver,Jackalope Arts,5.0,8,Local Flavor,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
1,Denver,Special Occasions Events,5.0,4,Venues & Event Spaces,"{'address1': '3550 Federal Blvd', 'address2': ...",39.766230,-105.024390
1,Denver,Special Occasions Events,5.0,4,Party & Event Planning,"{'address1': '3550 Federal Blvd', 'address2': ...",39.766230,-105.024390
...,...,...,...,...,...,...,...,...
19625,NewYork,Harlem Nights Bar,4.0,185,Bars,"{'address1': '2361 7th Ave', 'address2': None,...",40.817206,-73.942054
19625,NewYork,Harlem Nights Bar,4.0,185,Music Venues,"{'address1': '2361 7th Ave', 'address2': None,...",40.817206,-73.942054
19626,NewYork,Cardiff Giant,4.0,56,Bars,"{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230
19626,NewYork,Cardiff Giant,4.0,56,"Beer, Wine & Spirits","{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230
19626,NewYork,Cardiff Giant,4.0,56,Cideries,"{'address1': '415 Myrtle Ave', 'address2': '',...",40.693240,-73.969230

In [66]:
pathname = '../G4_Project4/Resources/df_Extractions/vr_data.csv'
vr_data.to_csv(pathname, index=False)

In [67]:
selected_unique_categories_file_path = '../G4_Project4/Resources/df_Extractions/selected_unique_categories.csv'
selected_unique_cat_df = pd.read_csv(selected_unique_categories_file_path)

selected_unique_cat_df

         city       Unique Categories
0    New York                  Fondue
1    New York                Sicilian
2    New York              Club Crawl
3    New York               Badminton
4    New York             Ski Resorts
..        ...                     ...
109    Denver   Ski & Snowboard Shops
110    Denver         Pumpkin Patches
111    Denver             Ski Schools
112    Denver                  Somali
113    Denver  Newspapers & Magazines

[114 rows x 2 columns]

In [68]:
vr_data_selected = vr_data[vr_data['categories'].isin(selected_unique_cat_df['Unique Categories'])]
vr_data_selected

,city,name,rating,review_count,categories,location,latitude,longitude
0,Denver,Jackalope Arts,5.0,8,Local Flavor,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...",39.800724,-105.081250
7,Denver,Cherry Creek Holiday Market,3.5,17,Public Markets,"{'address1': '105 Fillmore St', 'address2': ''...",39.718745,-104.953741
20,Denver,The Brew Hut,5.0,121,Brewing Supplies,"{'address1': '15120 E Hampden Ave', 'address2'...",39.652670,-104.812142
39,Denver,Altitude Brewing & Supply,4.5,16,Brewing Supplies,"{'address1': '4577 N Pecos St', 'address2': No...",39.779664,-105.006752
234,Denver,Body Balance Strength & Wellness,5.0,6,Chiropractors,"{'address1': '4735 Walnut St E', 'address2': N...",40.019865,-105.242018
...,...,...,...,...,...,...,...,...
19413,NewYork,The Lavaux,4.5,100,Fondue,"{'address1': '630 Hudson St', 'address2': '', ...",40.738353,-74.005528
19536,NewYork,Skillman Music Recording Studio,5.0,2,Music Production Services,"{'address1': '65 Skillman Ave', 'address2': ''...",40.715736,-73.949050
19578,NewYork,Mamak House,4.0,133,Malaysian,"{'address1': '250 Rte 440', 'address2': None, ...",40.705303,-74.099623
19592,NewYork,Amor y Amargo,4.0,507,Vermouth Bars,"{'address1': '443 E 6th St', 'address2': '', '...",40.725720,-73.984280
19612,NewYork,Kaia Wine Bar,4.0,525,South African,"{'address1': '1614 3rd Ave', 'address2': '', '...",40.781900,-73.951970

In [69]:
pathname = '../G4_Project4/Resources/df_Extractions/vr_data_selected.csv'
vr_data_selected.to_csv(pathname, index=False)